{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block body %}
    <h1>Compte</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compte.id }}</td>
            </tr>
            <tr>
                <th>NumCompte</th>
                <td>{{ compte.numCompte }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ compte.dateCreation ? compte.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Solde</th>
                <td>{{ compte.solde }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('compte_index') }}">back to list</a>

    <a href="{{ path('compte_edit', {'id': compte.id}) }}">edit</a>

    {{ include('compte/_delete_form.html.twig') }}
{% endblock %}
